<div class="container">
  <div class="iten1">
    <app-nav-categori></app-nav-categori>
    <hr>
    <app-calendario></app-calendario>

    <!--  -->
    <div class="content">
      <div class="text-center">
        <div class="total">
          <h2 class="text-danger">{{total | currency:'USD'}}</h2>
          <span>Total Expense</span>
        </div>
        <div class="container-cards">
          <div class="card border-{{item.color}} mx-3 my-3" *ngFor="let item of categories">
            <div class="icono text-{{item.color}}">
              <i class="{{item.icon}}"></i>
            </div>
            <div class="content">
              <span>{{item.name | titlecase}}</span>
              <h2>{{item.amount | currency:'USD'}}</h2>
            </div>
          </div>


          <div class="addItem">
            <div class="card mx-3 my-3 border-secondary add">
              <i class="fa fa-plus text-secondary" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="iten2">
    <app-aside></app-aside>
  </div>
</div>


<div class="modal fade" id="modal_category" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-create-new-category (newcategoryevent)="newcategory($event)"></app-create-new-category>
      </div>
    </div>
  </div>
</div>
